html, body { height: 100%; }
body { 
	margin: 0px; 
	padding: 0px; 
	overflow: hidden;
	background: #000;
}
canvas { 
	z-index: 2;
	width: 100%; 
	height: 100%; 
	position: absolute;
	-webkit-transform: translateZ(0); 
	cursor: crosshair;/*NW-resize;*/
}  
#fps {
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 5px;
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	z-index:  5;
}
#instructions {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	color: white;
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	z-index:  5;
}
